In [1]:
# Import Dependencies and Setup
import pandas as pd
import csv
import os

# Files to Load
jul_2013_path = os.path.join(os.getcwd(), "Raw Data", "2013-07 - Citi Bike trip data.csv")
dec_2013_path = os.path.join(os.getcwd(), "Raw Data", "2013-12 - Citi Bike trip data.csv")

In [2]:
#Print path
jul_2013_path

'c:\\Users\\vaab2\\OneDrive\\Desktop\\Excercises in class\\Homeworks\\18-Tableau\\Raw Data\\2013-07 - Citi Bike trip data.csv'

In [3]:
# Read Files and Store Into Pandas Data Frame
jul_2013_df = pd.read_csv(jul_2013_path)
dec_2013_df = pd.read_csv(dec_2013_path)

#Display dataframe
jul_2013_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

In [4]:
## Combine the data into a single dataset
cleaned_2013_df = pd.concat([jul_2013_df, dec_2013_df], axis = 0)
cleaned_2013_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

In [5]:
#Checking for value types
cleaned_2013_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                  object
gender                       int64
dtype: object

In [6]:
# Making gender column a string
cleaned_2013_df['gender'] = cleaned_2013_df['gender'].astype(str)

In [7]:
# Replace the numbers in the gender column with strings
cleaned_2013_df['gender'] = cleaned_2013_df['gender'].replace('1', 'Male')
cleaned_2013_df['gender'] = cleaned_2013_df['gender'].replace('2', 'Female')
cleaned_2013_df['gender'] = cleaned_2013_df['gender'].replace('0', 'Unknown')
cleaned_2013_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,Unknown
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,Unknown
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,Female
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,Unknown
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,Male

In [8]:
#Finding empty values
cleaned_2013_df.isnull().values.any()

False

In [45]:
#Convert the dataframe to a csv
cleaned_2013_df.to_csv(r'c:\\Users\\vaab2\\OneDrive\\Desktop\\Excercises in class\\Homeworks\\18-Tableau\\Resources\\cleaned_2013_data.csv', index = False)

In [9]:
#Load paths
mar_2018_path = os.path.join(os.getcwd(), "Raw Data", "201803-citibike-tripdata.csv")
sep_2018_path = os.path.join(os.getcwd(), "Raw Data", "201809-citibike-tripdata.csv")
dec_2018_path = os.path.join(os.getcwd(), "Raw Data", "201812-citibike-tripdata.csv")

In [10]:
#Print path
mar_2018_path

'c:\\Users\\vaab2\\OneDrive\\Desktop\\Excercises in class\\Homeworks\\18-Tableau\\Raw Data\\201803-citibike-tripdata.csv'

In [11]:
# Read Files and Store Into Pandas Data Frame
mar_2018_df = pd.read_csv(mar_2018_path)
sep_2018_df = pd.read_csv(sep_2018_path)
dec_2018_df = pd.read_csv(dec_2018_path)

#Display df
mar_2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,816,2018-03-01 02:29:13.7270,2018-03-01 02:42:50.1460,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,31413,Subscriber,1973,1
1,235,2018-03-01 05:12:37.0320,2018-03-01 05:16:32.1010,72,W 52 St & 11 Ave,40.767272,-73.993929,478,11 Ave & W 41 St,40.760301,-73.998842,33202,Subscriber,1965,1
2,1250,2018-03-01 05:45:49.9000,2018-03-01 06:06:39.9080,72,W 52 St & 11 Ave,40.767272,-73.993929,3664,North Moore St & Greenwich St,40.720195,-74.010301,26675,Subscriber,1984,1
3,741,2018-03-01 06:54:19.6150,2018-03-01 07:06:40.9790,72,W 52 St & 11 Ave,40.767272,-73.993929,459,W 20 St & 11 Ave,40.746745,-74.007756,31011,Subscriber,1981,1
4,727,2018-03-01 07:08:38.8610,2018-03-01 07:20:46.8500,72,W 52 St & 11 Ave,40.767272,-73.993929,2006,Central Park S & 6 Ave,40.765909,-73.976342,30616,Subscriber,1990,2

In [12]:
## Combine the data into a single dataset
cleaned_2018_df = pd.concat([mar_2018_df, sep_2018_df, dec_2018_df], axis = 0)
cleaned_2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,816,2018-03-01 02:29:13.7270,2018-03-01 02:42:50.1460,72.0,W 52 St & 11 Ave,40.767272,-73.993929,379.0,W 31 St & 7 Ave,40.749156,-73.991600,31413,Subscriber,1973,1
1,235,2018-03-01 05:12:37.0320,2018-03-01 05:16:32.1010,72.0,W 52 St & 11 Ave,40.767272,-73.993929,478.0,11 Ave & W 41 St,40.760301,-73.998842,33202,Subscriber,1965,1
2,1250,2018-03-01 05:45:49.9000,2018-03-01 06:06:39.9080,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3664.0,North Moore St & Greenwich St,40.720195,-74.010301,26675,Subscriber,1984,1
3,741,2018-03-01 06:54:19.6150,2018-03-01 07:06:40.9790,72.0,W 52 St & 11 Ave,40.767272,-73.993929,459.0,W 20 St & 11 Ave,40.746745,-74.007756,31011,Subscriber,1981,1
4,727,2018-03-01 07:08:38.8610,2018-03-01 07:20:46.8500,72.0,W 52 St & 11 Ave,40.767272,-73.993929,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,30616,Subscriber,1990,2

In [13]:
#Checking for value types
cleaned_2018_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [14]:
# Making gender column a string
cleaned_2018_df['gender'] = cleaned_2018_df['gender'].astype(str)
# Replace the numbers in the gender column with strings
cleaned_2018_df['gender'] = cleaned_2018_df['gender'].replace('1', 'Male')
cleaned_2018_df['gender'] = cleaned_2018_df['gender'].replace('2', 'Female')
cleaned_2018_df['gender'] = cleaned_2018_df['gender'].replace('0', 'Unknown')
cleaned_2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,816,2018-03-01 02:29:13.7270,2018-03-01 02:42:50.1460,72.0,W 52 St & 11 Ave,40.767272,-73.993929,379.0,W 31 St & 7 Ave,40.749156,-73.991600,31413,Subscriber,1973,Male
1,235,2018-03-01 05:12:37.0320,2018-03-01 05:16:32.1010,72.0,W 52 St & 11 Ave,40.767272,-73.993929,478.0,11 Ave & W 41 St,40.760301,-73.998842,33202,Subscriber,1965,Male
2,1250,2018-03-01 05:45:49.9000,2018-03-01 06:06:39.9080,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3664.0,North Moore St & Greenwich St,40.720195,-74.010301,26675,Subscriber,1984,Male
3,741,2018-03-01 06:54:19.6150,2018-03-01 07:06:40.9790,72.0,W 52 St & 11 Ave,40.767272,-73.993929,459.0,W 20 St & 11 Ave,40.746745,-74.007756,31011,Subscriber,1981,Male
4,727,2018-03-01 07:08:38.8610,2018-03-01 07:20:46.8500,72.0,W 52 St & 11 Ave,40.767272,-73.993929,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,30616,Subscriber,1990,Female

In [15]:
#Finding empty values
cleaned_2018_df.isnull().values.any()

True

In [16]:
#Replacing blank values with a null
import numpy as np
#np.where(combined_2018_df.applymap(lambda x: x == ''))
cleaned_2018_df = cleaned_2018_df.replace(' ', np.nan)
#cleaned_2018_df.loc[cleaned_2018_df['birth year'] == ' ', 'birth year'] = 0

In [18]:
cleaned_2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,816,2018-03-01 02:29:13.7270,2018-03-01 02:42:50.1460,72.0,W 52 St & 11 Ave,40.767272,-73.993929,379.0,W 31 St & 7 Ave,40.749156,-73.991600,31413,Subscriber,1973,Male
1,235,2018-03-01 05:12:37.0320,2018-03-01 05:16:32.1010,72.0,W 52 St & 11 Ave,40.767272,-73.993929,478.0,11 Ave & W 41 St,40.760301,-73.998842,33202,Subscriber,1965,Male
2,1250,2018-03-01 05:45:49.9000,2018-03-01 06:06:39.9080,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3664.0,North Moore St & Greenwich St,40.720195,-74.010301,26675,Subscriber,1984,Male
3,741,2018-03-01 06:54:19.6150,2018-03-01 07:06:40.9790,72.0,W 52 St & 11 Ave,40.767272,-73.993929,459.0,W 20 St & 11 Ave,40.746745,-74.007756,31011,Subscriber,1981,Male
4,727,2018-03-01 07:08:38.8610,2018-03-01 07:20:46.8500,72.0,W 52 St & 11 Ave,40.767272,-73.993929,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,30616,Subscriber,1990,Female

In [19]:
#Find the riders age and creating an age column
current_year = 2021

birth_year_2018 = cleaned_2018_df['birth year']
age = current_year - (birth_year_2018)
cleaned_2018_df['age'] = age
#Display df
cleaned_2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,816,2018-03-01 02:29:13.7270,2018-03-01 02:42:50.1460,72.0,W 52 St & 11 Ave,40.767272,-73.993929,379.0,W 31 St & 7 Ave,40.749156,-73.991600,31413,Subscriber,1973,Male,48
1,235,2018-03-01 05:12:37.0320,2018-03-01 05:16:32.1010,72.0,W 52 St & 11 Ave,40.767272,-73.993929,478.0,11 Ave & W 41 St,40.760301,-73.998842,33202,Subscriber,1965,Male,56
2,1250,2018-03-01 05:45:49.9000,2018-03-01 06:06:39.9080,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3664.0,North Moore St & Greenwich St,40.720195,-74.010301,26675,Subscriber,1984,Male,37
3,741,2018-03-01 06:54:19.6150,2018-03-01 07:06:40.9790,72.0,W 52 St & 11 Ave,40.767272,-73.993929,459.0,W 20 St & 11 Ave,40.746745,-74.007756,31011,Subscriber,1981,Male,40
4,727,2018-03-01 07:08:38.8610,2018-03-01 07:20:46.8500,72.0,W 52 St & 11 Ave,40.767272,-73.993929,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,30616,Subscriber,1990,Female,31

In [55]:
cleaned_2018_df.to_csv(r'c:\\Users\\vaab2\\OneDrive\\Desktop\\Excercises in class\\Homeworks\\18-Tableau\\Resources\\cleaned_2018_data.csv', index = False)

In [20]:
#Load paths
mar_2020_path = os.path.join(os.getcwd(), "Raw Data", "202003-citibike-tripdata.csv")
sep_2020_path = os.path.join(os.getcwd(), "Raw Data", "202009-citibike-tripdata.csv")
dec_2020_path = os.path.join(os.getcwd(), "Raw Data", "202012-citibike-tripdata.csv")

In [21]:
# Read Files and Store Into Pandas Data Frame
mar_2020_df = pd.read_csv(mar_2020_path)
sep_2020_df = pd.read_csv(sep_2020_path)
dec_2020_df = pd.read_csv(dec_2020_path)

#Display df
mar_2020_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1589,2020-03-01 00:00:03.6400,2020-03-01 00:26:32.9860,224,Spruce St & Nassau St,40.711464,-74.005524,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,16214,Subscriber,1980,1
1,389,2020-03-01 00:00:16.7560,2020-03-01 00:06:46.0620,293,Lafayette St & E 8 St,40.730207,-73.991026,223,W 13 St & 7 Ave,40.737815,-73.999947,29994,Subscriber,1991,2
2,614,2020-03-01 00:00:20.0580,2020-03-01 00:10:34.2200,379,W 31 St & 7 Ave,40.749156,-73.991600,515,W 43 St & 10 Ave,40.760094,-73.994618,39853,Subscriber,1991,1
3,597,2020-03-01 00:00:24.3510,2020-03-01 00:10:22.3390,3739,Perry St & Greenwich Ave,40.735918,-74.000939,325,E 19 St & 3 Ave,40.736245,-73.984738,42608,Subscriber,1989,1
4,1920,2020-03-01 00:00:26.1120,2020-03-01 00:32:26.2680,236,St Marks Pl & 2 Ave,40.728419,-73.987140,3124,46 Ave & 5 St,40.747310,-73.954510,36288,Subscriber,1993,1

In [22]:
## Combine the data into a single dataset
cleaned_2020_df = pd.concat([mar_2020_df, sep_2020_df, dec_2020_df], axis = 0)
cleaned_2020_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1589,2020-03-01 00:00:03.6400,2020-03-01 00:26:32.9860,224,Spruce St & Nassau St,40.711464,-74.005524,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,16214,Subscriber,1980,1
1,389,2020-03-01 00:00:16.7560,2020-03-01 00:06:46.0620,293,Lafayette St & E 8 St,40.730207,-73.991026,223,W 13 St & 7 Ave,40.737815,-73.999947,29994,Subscriber,1991,2
2,614,2020-03-01 00:00:20.0580,2020-03-01 00:10:34.2200,379,W 31 St & 7 Ave,40.749156,-73.991600,515,W 43 St & 10 Ave,40.760094,-73.994618,39853,Subscriber,1991,1
3,597,2020-03-01 00:00:24.3510,2020-03-01 00:10:22.3390,3739,Perry St & Greenwich Ave,40.735918,-74.000939,325,E 19 St & 3 Ave,40.736245,-73.984738,42608,Subscriber,1989,1
4,1920,2020-03-01 00:00:26.1120,2020-03-01 00:32:26.2680,236,St Marks Pl & 2 Ave,40.728419,-73.987140,3124,46 Ave & 5 St,40.747310,-73.954510,36288,Subscriber,1993,1

In [23]:
#Checking for value types
cleaned_2020_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [24]:
# Making gender column a string
cleaned_2020_df['gender'] = cleaned_2020_df['gender'].astype(str)
# Replace the numbers in the gender column with strings
cleaned_2020_df['gender'] = cleaned_2020_df['gender'].replace('1', 'Male')
cleaned_2020_df['gender'] = cleaned_2020_df['gender'].replace('2', 'Female')
cleaned_2020_df['gender'] = cleaned_2020_df['gender'].replace('0', 'Unknown')
cleaned_2020_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1589,2020-03-01 00:00:03.6400,2020-03-01 00:26:32.9860,224,Spruce St & Nassau St,40.711464,-74.005524,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,16214,Subscriber,1980,Male
1,389,2020-03-01 00:00:16.7560,2020-03-01 00:06:46.0620,293,Lafayette St & E 8 St,40.730207,-73.991026,223,W 13 St & 7 Ave,40.737815,-73.999947,29994,Subscriber,1991,Female
2,614,2020-03-01 00:00:20.0580,2020-03-01 00:10:34.2200,379,W 31 St & 7 Ave,40.749156,-73.991600,515,W 43 St & 10 Ave,40.760094,-73.994618,39853,Subscriber,1991,Male
3,597,2020-03-01 00:00:24.3510,2020-03-01 00:10:22.3390,3739,Perry St & Greenwich Ave,40.735918,-74.000939,325,E 19 St & 3 Ave,40.736245,-73.984738,42608,Subscriber,1989,Male
4,1920,2020-03-01 00:00:26.1120,2020-03-01 00:32:26.2680,236,St Marks Pl & 2 Ave,40.728419,-73.987140,3124,46 Ave & 5 St,40.747310,-73.954510,36288,Subscriber,1993,Male

In [25]:
#Finding empty values
cleaned_2020_df.isnull().values.any()

False

In [26]:
#Find the riders age and creating an age column
current_year = 2021

birth_year_2020 = cleaned_2020_df['birth year']
age = current_year - (birth_year_2020)
cleaned_2020_df['age'] = age
#Display df
cleaned_2020_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,1589,2020-03-01 00:00:03.6400,2020-03-01 00:26:32.9860,224,Spruce St & Nassau St,40.711464,-74.005524,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,16214,Subscriber,1980,Male,41
1,389,2020-03-01 00:00:16.7560,2020-03-01 00:06:46.0620,293,Lafayette St & E 8 St,40.730207,-73.991026,223,W 13 St & 7 Ave,40.737815,-73.999947,29994,Subscriber,1991,Female,30
2,614,2020-03-01 00:00:20.0580,2020-03-01 00:10:34.2200,379,W 31 St & 7 Ave,40.749156,-73.991600,515,W 43 St & 10 Ave,40.760094,-73.994618,39853,Subscriber,1991,Male,30
3,597,2020-03-01 00:00:24.3510,2020-03-01 00:10:22.3390,3739,Perry St & Greenwich Ave,40.735918,-74.000939,325,E 19 St & 3 Ave,40.736245,-73.984738,42608,Subscriber,1989,Male,32
4,1920,2020-03-01 00:00:26.1120,2020-03-01 00:32:26.2680,236,St Marks Pl & 2 Ave,40.728419,-73.987140,3124,46 Ave & 5 St,40.747310,-73.954510,36288,Subscriber,1993,Male,28

In [64]:
cleaned_2020_df.to_csv(r'c:\\Users\\vaab2\\OneDrive\\Desktop\\Excercises in class\\Homeworks\\18-Tableau\\Resources\\cleaned_2020_data.csv', index = False)